/* Position header and nav over hero image */

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.top-left {
    position: absolute;
    top: 25px;
    left: 10px;
    font-size: 70px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .nav {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20;
      color: white;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }