h1, h3, h5, .nav-links {
  font-family: 'Montserrat', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
  background-color: white;
}

/* Navigation Bar styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 5%;
  background-color: rgb(29, 29, 29);
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
}

nav a {
  transition: all 0.3s ease 0s;
  color: white;
}

/* makes links glow on hover */
.nav-links li a:hover {
  font-size: 110%;
  text-shadow: 0 0 5px white;
  text-shadow: 0 0 8px white;
  text-shadow: 0 0 10px white;
  text-shadow: 0 0 15px white;
  text-shadow: 0 0 20px white;
  text-shadow: 0 0 25px white;
  text-shadow: 0 0 30x white;
}

h1 {
  color: white;
  font-size: 430%;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  font-size: 150%;
}

/* Add border between nav items */
nav li {
  border-right: 1px solid white;
}

nav li:last-child {
  border-right: none;
}

/* Hero image styles */
.hero {
  position: relative;
}

h2 {
  position: absolute;
  color: white;
  font-size: 200%;
  font-weight: 300;
  left: 10%;
  top: 20%;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(29, 29, 29, 0.85);
  padding: 10px;
  width: 40%;
  line-height: 2;
  border-radius: 25px;
}

/* Main section flexbox */
section {
  display: flex;
}

.titles {
  max-width: 400px;
  flex: 1;
  border-right: 2px solid black;
  font-size: 400%;
  text-align: end;
}

.rightside {
  flex: 3;
}

/* Style About section */
h3 {
  padding: 20px;
}

.about-info {
  font-size: 180%;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  padding: 3rem;
  line-height: 1.5;
}

.about-info p {
  margin: 30px auto;
  font-weight: bold;
}

/* Style Work section */
.work-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

article {
  position: relative;
}

.work-1 {
  margin: 0 20% ;
  width: 100%;
  flex: 1 1 200px;
}

.work-tiny {
  width: 25%;
}

article img {
  border-radius: 25px;
  padding: 5px;
  margin-top: 40px;
}

h4 {
  position: absolute;
  bottom: 10%;
  left: 10%;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 2rem;
}


/* Style Contact section */
.contact-links {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 60px;
}

.contact-links li a {
  transition: all 0.3s ease 0s;
  color: black;
  font-size: 160%;
}

.contact-links li a:hover {
  font-size: 170%;
  text-shadow: 0 0 5px black;
  text-shadow: 0 0 8px black;
  text-shadow: 0 0 10px black;
  text-shadow: 0 0 15px black;
  text-shadow: 0 0 20px black;
  text-shadow: 0 0 25px black;
  text-shadow: 0 0 30x black;
}

/* Footer styles */
footer {
  background-color: rgba(29, 29, 29);
  /* width: 100%; ?Why doesn't this work? */
}

h5 {
  color: white;
  text-align: center;
  padding: 2rem;
}


/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .nav-links li {
    margin-bottom: 25px;
    border-right: none;
  
  }

  .hero h2 {
    width: fit-content;
    max-width: 70%;
  }

  .titles h3 {
    font-size: 80%;
  }
}