h1, h3, h5, .nav-links {
  font-family: 'Montserrat', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
  background-color: white;
}

/* Navigation Bar styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 5%;
  background-color: rgb(29, 29, 29);
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

/* makes links glow on hover */
.nav-links li a:hover {
  font-size: 110%;
  text-shadow: 0 0 5px white;
  text-shadow: 0 0 8px white;
  text-shadow: 0 0 10px white;
  text-shadow: 0 0 15px white;
  text-shadow: 0 0 20px white;
  text-shadow: 0 0 25px white;
  text-shadow: 0 0 30x white;
}

h1 {
  color: white;
  font-size: 400%;
}

nav a {
  color: white;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  font-size: 150%;
}

/* Add border between nav items */
nav li {
  border-right: 1px solid white;
}

nav li:last-child {
  border-right: none;
}

/* Hero image styles */
.hero {
  position: relative;
}

h2 {
  position: absolute;
  color: white;
  font-size: 200%;
  font-weight: 300;
  right: 10%;
  bottom: 10%;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(29, 29, 29, 0.85);
  padding: 10px;
  width: 40%;
  line-height: 2;
}

/* Main section flexbox */
section {
  display: flex;
}

.titles {
  flex: 1;
}

.rightside {
  flex: 3;
}

/* Style About section */
.about-info {
  font-size: 150%;
  font-family: 'Courier New', Courier, monospace;
  margin: 0 auto;
  padding: 2.5rem 1rem;
  line-height: 1.5;
}

/* Style Work section */
.work-links {
  display: flex;
  flex-wrap: wrap;
}

article {
  position: relative;
}

h4 {
  position: absolute;
  bottom: 10%;
  left: 10%;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 2rem;
}


/* Style Contact section */
.contact-links {
  display: inline-block;
  justify-content: space-around;
}

.contact-links li a {
  transition: all 0.3s ease 0s;
  color: purple;
}

.contact-links li a:hover {
  font-size: 110%;
  text-shadow: 0 0 5px purple;
  text-shadow: 0 0 8px white;
  text-shadow: 0 0 10px white;
  text-shadow: 0 0 15px white;
  text-shadow: 0 0 20px white;
  text-shadow: 0 0 25px white;
  text-shadow: 0 0 30x purple
}

/* Style main titles */
.titles {
  font-size: 300%;
}

/* Footer styles */
footer {
  background-color: rgba(29, 29, 29);
}

h5 {
  color: white;
  text-align: center;
  padding: 2rem;
}

